.__page-container {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--BG_LIGHT);
    overflow: hidden;
}

.__header, .__footer {
    background-color: var(--BG_ACCENT);
}

.__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    transition: height 0.5s;
}

.__footer:hover {
    height: 300px;
}

.__main {
    height: 100%;
    background-color: var(--BG_LIGHT_T);
    overflow-y: auto;
    padding-inline: 1rem;
}

.__product-item {
    border: 3px solid var(--BG_ACCENT);
    background: var(--BG_ACCENT_T);
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .__product-item {
        flex: 0 0 75%;
    }
}

@media (min-width: 992px) {
    .__product-item {
        flex: 0 0 40%;
    }
}

@media (min-width: 1200px) {
    .__product-item {
        flex: 0 0 25%;
    }
}