.__body {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--BG_LIGHT);
    overflow: hidden;
}

.__header {
    background-color: var(--BG_ACCENT);
    border-bottom: 2px solid var(--BG_LIGHT);
}

.__main {
    height: 100%;
    background-color: var(--BG_LIGHT_T);
    overflow-y: auto;
    padding-inline: 1rem;
    padding-bottom: 100px;
}

.__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background-color: var(--BG_ACCENT);
    transition: height 0.5s;
}

.__footer:hover {
    height: 300px;
}

.__mail-link {
    color: var(--TEXT_PRIMARY);
}

@media (min-width: 1200px) {
    .__base-section {
        margin-inline: 20%;
    }
}
