:root {
    --BG_LIGHT: #F2EEE3;
    --BG_MEDIUM: #BAAF92;
    --BG_DARK: #785E4D;
    --BG_DARK_T: rgb(121, 95, 78, 0.3);
    --BG_ACCENT: #FF8426;

    --TEXT_PRIMARY: #FFF;
    --TEXT_PRIMARY_LIGHT: #F2EEE3;
}

