.__page-container {
    height: 100vh; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--BG_LIGHT);
}

.__nav-container {
    background-color: var(--BG_LIGHT);
}
