.__page-container {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--BG_LIGHT);
    overflow: hidden;
}

.__nav-container {
    background-color: var(--BG_ACCENT);
}

main {
    height: 100%;
    padding: 1rem;
    background-color: var(--BG_LIGHT_T);
    overflow-y: auto;
}

.__product-item {
    border: 3px solid var(--BG_ACCENT);
    background: var(--BG_ACCENT_T);
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .__product-item {
        flex: 0 0 75%;
    }
}

@media (min-width: 992px) {
    .__product-item {
        flex: 0 0 40%;
    }
}

@media (min-width: 1200px) {
    .__product-item {
        flex: 0 0 25%;
    }
}